/* Roboto Light */
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Roboto Bold */
  @font-face {
    font-family: 'Roboto';
    src:  url('./Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Roboto Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
  }
  
  /* Roboto Medium */
  @font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Roboto Regular */
  @font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  