/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Montserrat Bold */
  @font-face {
    font-family: 'Montserrat';
    src:  url('./Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Montserrat Italic */
  @font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
  }
  
  /* Montserrat Medium */
  @font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Montserrat Regular */
  @font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  